@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the Employee Record Management System Project</p>
    <p>that perform the CRUD operations using the Entity Framework and ADO.NET<.</p>
</div>
